@font-face {
	font-family: 'Inter-Regular';
	src: url(../fonts/Inter-Regular.ttf) format("ttf");
	src: url(../fonts/Inter-Regular.otf) format("otf");
	src: url(../fonts/Inter-Regular.woff) format("woff");
	src: url(../fonts/Inter-Regular.woff2) format("woff2");
  }

.lang-link {
	font-family: 'Inter-Regular';
	color: white;
	text-decoration: none;
	font-size: 24px;
	font-weight: normal;
	line-height: 28px;
	font-style: normal;
}

@media screen and (max-width: 320px) {
	.lang-link {
		font-size: 18px;
		line-height: 20px;
		}
}