.page {
	border: 0;
	background-color: #2A2C2F;
	max-width: 1280px;
	margin: 0 auto;
	color: #ffffff;
}

@media screen and (max-width: 1024px) {
	.page {
		max-width: 1024px;
	}
}

@media screen and (max-width: 768px) {
	.page {
		max-width: 768px;
	}
}

@media screen and (max-width: 320px) {
	.page {
		max-width: 320px;
	}
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}