.lang-link_underline {
	font-family: Inter, Arial, sans-serif;;
	color: white;
	margin-right: 18px;
	text-decoration: underline;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	font-style: normal;
}

@media screen and (max-width: 320px) {
	.lang-link_underline {
		font-size: 18px;
		line-height: 20px;
		}
}