@font-face {
	font-family: 'Inter-Regular';
	src: url(../fonts/Inter-Regular.ttf) format("ttf");
	src: url(../fonts/Inter-Regular.otf) format("otf");
	src: url(../fonts/Inter-Regular.woff) format("woff");
	src: url(../fonts/Inter-Regular.woff2) format("woff2");
  }

.lead__main-illustration_caption {
	font-family: 'Inter-Regular';
	margin: 8px 0 0 148px;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

@media screen and (max-width: 1024px) {
	.lead__main-illustration_caption {
		margin: 8px 0 0 48px;
	}
}

@media screen and (max-width: 768px) {
	.lead__main-illustratio_caption {
		margin: 8px 0 0 24px;
	}
}

@media screen and (max-width: 768px) {
	.lead__main-illustration_caption {
		margin: 8px 0 0 16px;
	}
}