.lead__title {
	font-family: Inter, Arial, sans-serif;
	max-width: 720px;
	font-size: 96px;
	font-weight: 900;
	line-height: 100px;
	text-align: center;
	margin: 0 auto;
	font-style: normal;
}

@media screen and (max-width: 750px) {
	.lead__title {
		max-width: 630px;
		font-size: 75px;
		line-height: 75px;
		}
}

@media screen and (max-width: 550px) {
	.lead__title {
		max-width: 380px;
		font-size: 50px;
		line-height: 50px;
		}
}

@media screen and (max-width: 380px) {
	.lead__title {
		max-width: 300px;
		font-size: 43px;
		line-height: 48px;
		}
}

@media screen and (max-width: 320px) {
	.lead__title {
		max-width: 288px;
		font-size: 40px;
		line-height: 44px;
		}
}