@font-face {
	font-family: 'Inter-Black';
	src: url(../fonts/Inter-Black.ttf) format("ttf");
	src: url(../fonts/Inter-Black.otf) format("otf");
	src: url(../fonts/Inter-Black.woff) format("woff");
	src: url(../fonts/Inter-Black.woff2) format("woff2");
  }

.lead__title {
	font-family: 'Inter-Black';
	max-width: 720px;
	font-size: 96px;
	font-weight: 900;
	line-height: 100px;
	text-align: center;
	margin: 0 auto;
	font-style: normal;
}

@media screen and (max-width: 320px) {
	.lead__title {
		max-width: 288px;
		font-size: 40px;
		line-height: 44px;
		}
}