@font-face {
	font-family: 'Inter-Regular';
	src: url(../fonts/Inter-Regular.ttf) format("ttf");
	src: url(../fonts/Inter-Regular.otf) format("otf");
	src: url(../fonts/Inter-Regular.woff) format("woff");
	src: url(../fonts/Inter-Regular.woff2) format("woff2");
  }

.footer__copyright {
	margin: 0;
	font-family: 'Inter-Regular';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

@media screen and (max-width: 320px) {
	.footer__copyright {
	font-size: 14px;
	line-height: 14px;
	padding-top: 48px;
	margin-left: 16px;
	padding-bottom: 24px;
	}
}