.footer {
	display: flex;
	justify-content: space-between;
	margin: 0 48px 0 48px;
	padding-bottom: 24px;
	padding-top: 92px;
}

@media screen and (max-width: 768px) {
	.footer {
		margin: 0 24px 0 24px;
	}
}

@media screen and (max-width: 320px) {
	.footer {
		margin: 0;
		display: inline;
	}
}