.place__website {
	color: #ffffff;
	text-decoration: none;
	align-self: end;
	list-style-type: none;
	padding: 0;
}

@media screen and (max-width: 320px) {
	.place__website {
		grid-row-start: 2;
		margin: 0 16px 0 16px;
	}
}